.AppSelect {
  font-size: 14px;

  .App-select__control {
    min-height: auto;
  }

  .App-select__input {
    height: 18px;
  }

  .App-select__indicators {
    .App-select__indicator {
      padding: 0 8px;
    }
  }

  .App-select__menu {
    padding-right: 0;

    .App-select__option {
      display: flex;
      align-items: center;
      padding: 4px;
      cursor: pointer;
      margin: 0;

      &.App-select__option--is-selected {
        background-color: #6094ff !important;
      }

      &:hover {
        background-color: #e2f0ff;
      }
    }
  }
}
