.AppButton {
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  padding: 0 9px;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  box-sizing: border-box;
  height: 28px;
  line-height: 26px;

  &.disabled {
    background: #bbb !important;
    border: 1px solid #bbb !important;
    color: white !important;
    cursor: not-allowed !important;
  }

  &.primary {
    border: 1px solid #6094ff;
    background-color: #6094ff;
    color: white;
  }

  &.dashed {
    border: 1px solid #999;
  }

  &.sm {
    height: 22px;
    font-size: smaller;
    padding: 0px 5px;
    line-height: 20px;
  }

  &:hover {
    opacity: 0.8;
  }
}
