.AppButton {
  border-radius: 3px;
  color: inherit;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  padding: 0 6px;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  box-sizing: border-box;
  height: 28px;
  display: inline-flex;
  align-items: center;

  &.disabled {
    background: #bbb !important;
    border: 1px solid #bbb !important;
    color: white !important;
    cursor: not-allowed !important;
  }

  &.primary {
    border: 1px solid #6094ff;
    background-color: #6094ff;
    color: white;
    padding: 0 14px;
  }

  &.link {
    text-decoration: underline;
    padding: 0 !important;
    color: #5e6c84;

    &.disabled {
      background: initial !important;
      color: #bbb !important;
      border: none !important;
    }
  }

  &.dashed {
    border: 1px solid #999;
    padding: 0 20px;
  }

  &.ghost {
    &:hover {
      background-color: #6bb6fd33;
    }
  }

  &.danger {
    border: 1px solid #ff4c4c;
    background-color: #ff4c4c;
    color: white;
    padding: 0 20px;
  }

  &.no-opacity {
    opacity: 1 !important;
  }

  &.sm {
    height: 22px;
    font-size: smaller;
    padding: 0px 5px;
    line-height: 20px;
  }

  &:hover {
    opacity: 0.8;
  }
}
