<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="KEYWords" contect="octupus,task,todo" />
    <meta name="Author" contect="octpus" />
    <meta name="Robots" contect="none" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta name="HandheldFriendly" content="true" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="x5-orientation" content="portrait" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes" />
    <meta name="msapplication-TileColor" content="#e35a55" />
    <link rel="apple-touch-icon" href="/assets/custom_icon.png" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <title>Octopus</title>
    <link rel="stylesheet" href="/assets/vendor/awesomefont/css/font-awesome.min.css">
  </head>

  <style>
    .octopus-loading {
      position: absolute;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      left: 50%;
      top: 50%;
      margin: -25px -25px;
      background-color: #e35a55;
    }

    .octopus-loading--wave {
      z-index: -1;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -10px -10px;
    }

    .octopus-loading--wave:before {
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -5px -5px;
      background-color: #019ef1;
      animation: wave-animate 3s 0s infinite ease-out;
    }

    .octopus-loading--wave:after {
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -5px -5px;
      background-color: #019ef1;
      animation: wave-animate 3s -1s infinite ease-out;
    }

    .octopus-loading--wave-b:after {
      animation: wave-animate 3s -2s infinite ease-out;
    }

    .octopus-loading--wave-b:before {
      animation: wave-animate 3s -3s infinite ease-out;
    }

    .octopus-loading .eye {
      position: absolute;
      background-color: #fff;
      height: 55%;
      width: 55%;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      margin: -27.5% -27.5%;
    }

    .octopus-loading .eyeball {
      position: absolute;
      background-color: #000;
      height: 60%;
      width: 60%;
      border-radius: 50%;
      left: 65%;
      top: 50%;
      margin: -30% -30%;
      transform-origin: 30% 50%;
      animation: rotate 0.9s ease-in infinite;
    }

    @keyframes rotate {
      0% {transform: rotate(0deg)}
      100% {transform: rotate(360deg)}
    }

    @keyframes wave-rotate {
      0% {transform: scale(1, 1) rotate(0deg)}
      50% {transform: scale(1.1, 1.1) rotate(180deg)}
      100% {transform: scale(1, 1) rotate(360deg)}
    }

    @keyframes wave-animate {
      0% {
        transform: scale(0);
        opacity: 0.5;
        transform-origin: center;
      }
      100% {
        transform: scale(10);
        opacity: 0;
        transform-origin: center;
      }
    }
  </style>

  <body>
    <div id="root" style="opacity: 0; transition: opacity ease-in 1s;"></div>

    <div id="dash-loading" class="octopus-loading">
      <div class="octopus-loading--wave"></div>
      <div class="octopus-loading--wave octopus-loading--wave-b"></div>
      <div class="eye">
        <div class="eyeball"></div>
      </div>
    </div>

    <script>
      if (navigator.userAgent.match(/iPad/i)) {
        window.document.documentElement.className += 'ipad';
      }
    </script>

    <script>
      window.onload = function() {
        setTimeout(function() {
          document.body.querySelector('#dash-loading').remove();
          document.body.querySelector('#root').style.opacity = 1;
        }, 50);
      }
    </script>

    <% if (htmlWebpackPlugin.options.production) { %>
      <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
      <script>
        Raven.config('https://ce93ac520eed44e98348b3f45d72d5ec@sentry.io/219300').install()
      </script>
    <% } %>
  </body>
</html>
