
.todo-creater {
  margin-top: 18px;

  .ant-form-item {
    margin-bottom: 12px;
  }

  .ant-input-group {
    width: 100%;
    display: flex !important;
  }

  .anticon-plus {
    position: absolute;
    left: 6px;
    top: 6px;
    z-index: 100;
    font-size: 20px;
    color: #e9676a;
  }

  input {
    padding-left: 30px;
  }
}
