@import 'style/variable';
@import 'style/page/todo/variable';

.todo-creater--toggle {
  padding: 5px 12px;
  margin: 0 0 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: $color-background-light;
  border-radius: $radius-middle;
  transition: background 0.1s ease-out;
  letter-spacing: 1px;
  box-shadow: 0 2px 5px #f8f8f8;

  @media screen and (max-width: 600px) {
    margin: 0;
    border-radius: 0;
    box-shadow: 0 2px 5px #bbb;
    padding: 10px 12px;

    .fa {
      margin-right: 10px;
    }
  }

  .fa {
    color: $md-light-blue-600;
    vertical-align: middle;
  }

  .toggle-text {
    margin-left: 8px;
    vertical-align: middle;
  }

  &:hover {
    background-color: $primary-bg;
    color: $white;

    .fa {
      color: $white;
    }
  }
}

.todo-creater-body {
  border-radius: $radius-middle;
  padding: $todo-item-padding;
  background-color: $primary-bg;
  margin-bottom: 5px;

  @media screen and (max-width: 600px) {
    margin: 0;
    border-radius: 0;
  }

  .todo-creater-props  {
    margin-top: 7px;
    display: flex;
    align-items: center;

    label {
      color: $white;
      vertical-align: middle;
    }

    & > .fa {
      vertical-align: middle;
      display: inline-block;
      margin-top: -3px;
      margin-right: 10px;
      color: $white;
      font-weight: 500;
    }

    .icon-remove {
      color: $white;
    }

    .select {
      margin-left: 10px;

      svg {
        fill: $white;
        margin-top: -2px;
        margin-left: -5px;
      }

      .select-box--name {
        color: $white;
      }
      .select--box {
        border: none;
      }
    }
  }

  .date-picker {
    margin-left: 10px;
    vertical-align: middle;

    &--icon {

    }

    &--text {
      color: $white;
    }
  }



  .select {

  }

  .todo-creater-deadline {


  }

  .todo-creater--input {
    textarea {
      resize: none;
      width: 100%;
      border: none;
      box-sizing: border-box;
      overflow: hidden;
      padding: 6px 10px;
      color: #000;
      background-color: $primary-bg-secondary-alternative;
      border-radius: $radius-small;
    }
  }

  .repeat-input {
    margin-top: 7px;
    label {
      color: $gray-deep;
    }
    .select {
      margin-left: 13px;

      .select--container {
        min-width: 100px;
        width: auto;
      }
    }
  }

  .todo-creater-operation {
    margin-top: 7px;

    .cancel-button {
      margin-left: 14px;
    }
  }
}
