@import 'style/variable';
@import 'style/page/todo/variable';

.todo-creater--toggle {
  padding: 8px 10px;
  margin: 0 0 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: $color-background-light;
  border-radius: $radius-middle;
  transition: background 0.1s ease-out;
  letter-spacing: 1px;;

  .fa {
    color: $md-light-blue-600;
    vertical-align: middle;
  }

  .toggle-text {
    margin-left: 8px;
    vertical-align: middle;
  }

  &:hover {
    background-color: $primary-bg;
    color: $white;

    .fa {
      color: $white;
    }
  }
}

.todo-creater-body {
  border-radius: $radius-middle;
  padding: $todo-item-padding;
  margin-top: 14px;
  background-color: $primary-bg;
  margin-bottom: 5px;

  .todo-creater-props  {
    margin-top: 7px;
    display: flex;
    align-items: center;

    label {
      color: $white;
    }

    .date-picker {
      margin-left: 13px;

      input {
        border: none;
        margin-left: 13px;
      }
    }
  }

  .todo-creater-deadline {


  }

  .todo-creater--input {
    textarea {
      resize: none;
      width: 100%;
      border: none;
      box-sizing: border-box;
      overflow: hidden;
      padding: 6px 10px;
      color: #000;
      background-color: $primary-bg-secondary-alternative;
      border-radius: $radius-small;
    }
  }

  .repeat-input {
    margin-top: 7px;
    label {
      color: $gray-deep;
    }
    .select {
      margin-left: 13px;

      .select--container {
        min-width: 100px;
        width: auto;
      }
    }
  }

  .todo-creater-operation {
    margin-top: 7px;

    .cancel-button {
      margin-left: 14px;
    }
  }



}
