.IssueDetail {
  padding: 12px 18px;

  .FormField {
    margin-bottom: -2px;
  }

  .IssueDetail--title-field {
    margin-bottom: 0;

    input {
      margin-top: 3px;
      margin-left: 1px;
    }
  }

  .IssueDetail--deadline-field {
    .Deadline {
      margin-left: 2px;
    }
  }

  &--title {
    margin-left: -6px;
  }

  &--content-textarea {
    resize: none;
  }

  &--content {
    display: flex;
    flex-direction: row;
  }

  &--left {
    width: 76%;
    padding-left: 2px;
  }

  .IssueDetailRight {
  }
}
