.IssueDetailModal {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  min-height: 600px;
  width: 730px;

  .ModalHeader--buttons {
  }

  .IssueDetail {
    padding-top: 0;
    overflow-y: auto;
  }
}
