.IssueDetailModal {
  position: absolute;
  top: 30px;
  bottom: 40px;
  overflow: hidden;
  max-height: 95%;
  width: 700px;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid rgba(204, 204, 204, 0.6);
  background: rgb(255, 255, 255);
  border-radius: 4px;
  outline: none;
  padding: 0;

  .IssueDetail {
    padding-top: 0;
  }
}
