.IssueDetail {
  background-color: white;
  padding: 12px 18px;

  &--title {
    margin-top: 12px;
    padding-left: 2px;
  }

  &--content-textarea {
    min-height: 200px;
    resize: none;
  }

  &--content {
    display: flex;
    flex-direction: row;
  }

  &--left {
    width: 70%;
  }

  .IssueDetailRight {
  }
}
