.ProjectInfoSection {
  img {
    width: 100%;
    border-radius: 3px;
  }
}

.ProjectInfoSection--project-name {
  margin-top: 3px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  padding: 0 2px;
}
