$white: #FFF;
$black: #000;
$black-light: #555;
$drak-light: #444;

$green: #1ab20a;

$red: #e35a55;

$gray-light-depth: #F6F6F6;
$gray-light-litte-depth: #E5E5E5;
$gray-super-light: #EFEFEF;
$gray-light: #EEE;
$gray: #c6c6c6;
$gray-light-deep: #7a7a7a;
$gray-deep: #999;
$gray-super-deep: #666;

$md-grey-900: #212121;
$md-grey-800: #424242;
$md-grey-700: #616161;
$md-grey-600: #757575;
$md-grey-500: #9E9E9E;
$md-grey-400: #BDBDBD;
$md-grey-300: #E0E0E0;
$md-grey-200: #EEEEEE;
$md-grey-100: #F5F5F5;
$md-grey-50: #FAFAFA;

$md-blue-grey-900: #263238;
$md-blue-grey-800: #37474F;
$md-blue-grey-700: #455A64;
$md-blue-grey-600: #546E7A;
$md-blue-grey-500: #607D8B;
$md-blue-grey-400: #78909C;
$md-blue-grey-300: #90A4AE;
$md-blue-grey-200: #B0BEC5;
$md-blue-grey-100: #CFD8DC;
$md-blue-grey-50: #ECEFF1;

$md-red-900: #B71C1C;
$md-red-800: #C62828;
$md-red-700: #D32F2F;
$md-red-600: #E53935;
$md-red-500: #F44336;
$md-red-400: #EF5350;
$md-red-300: #E57373;
$md-red-200: #EF9A9A;
$md-red-100: #FFCDD2;

$md-light-blue-900: #01579B;
$md-light-blue-800: #0277BD;
$md-light-blue-700: #0288D1;
$md-light-blue-600: #039BE5;
$md-light-blue-500: #03A9F4;
$md-light-blue-400: #29B6F6;
$md-light-blue-300: #4FC3F7;
$md-light-blue-200: #81D4FA;
$md-light-blue-100: #B3E5FC;

$md-purple-900: #4A148C;
$md-purple-800: #6A1B9A;
$md-purple-700: #7B1FA2;
$md-purple-600: #8E24AA;
$md-purple-500: #9C27B0;
$md-purple-400: #AB47BC;
$md-purple-300: #BA68C8;
$md-purple-200: #CE93D8;
$md-purple-100: #E1BEE7;

$md-indigo-50: #E8EAF6;
$md-indigo-100: #C5CAE9;
$md-indigo-200: #9FA8DA;
$md-indigo-300: #7986CB;
$md-indigo-400: #5C6BC0;
$md-indigo-500: #3F51B5;
$md-indigo-600: #3949AB;
$md-indigo-700: #303F9F;
$md-indigo-800: #283593;
$md-indigo-900: #1A237E;

$md-green-50: #E8F5E9;
$md-green-100: #C8E6C9;
$md-green-200: #A5D6A7;
$md-green-300: #81C784;
$md-green-400: #66BB6A;
$md-green-500: #4CAF50;
$md-green-600: #43A047;
$md-green-700: #388E3C;
$md-green-800: #2E7D32;
$md-green-900: #1B5E20;


$color-text-primary: $md-blue-grey-700;
$color-text-secondary: $md-blue-grey-500;
$color-text-disable: $md-blue-grey-200;

$color-dangerous: $md-red-500;

$color-border: $md-grey-400;
$color-divider: $md-grey-100;

$color-background-light: $white;
$color-background-light-alternative: $gray-super-light;

$blue-dark: #0081FF;

$red-litte-light: #F74555;
$pink-light: #fff4f4;
