@import 'style/variable';

html, header, footer, body, div, p, span, h1, h2, h3, h4, h5, h6, input {
  font-family: "HanHei SC","PingHei","PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif;
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

div, p {
  margin: 0;
}

button {
  outline: none;
}

[draggable] {
  user-select: none;
}


hr {
  border: 0;
  height: 1px;
  background: $gray-light-litte-depth;
}
