$white: #FFF;
$gray-light-depth: #F6F6F6;
$gray-light-litte-depth: #E5E5E5;
$gray-light: #EEE;
$gray: #c6c6c6;
$gray-deep: #999;

$blue-dark: #0081FF;

$background-light: $gray-light-depth;
$background-gray: $gray-light;

$content-light: $white;
$content-dark-depth: #000;
$content-dark: #333;

$font-size-small: 10px;
$font-size-middle: 12px;

$border-light: $gray-light-litte-depth;

$shadow-light: $gray-light-litte-depth;

$page-background-gray: $background-light;

$task-card-background: $content-light;

$button-primary: $blue-dark;
$button-default: $white;
