@import './mixin';
@import './reset';
@import './icon';
@import './vendor';
@import './variable';
@import './font';

.clearfix {
  @include clearfix;
}

.hidden {
  display: none !important;
}

html {
  background-color: $page-background-gray;
  font-family: 'Mukta', sans-serif;
  /* background-color: #4a4b50; */
  font-weight: 100 !important;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;

  & > div {
    min-height: 100%;
  }
}

::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
}
