@import 'style/variable';

.image-uploader {
  .image-uploader--button {
    
  }

  input[type='file'] {
    display: none;
  }
}

.image-uploader-modal {
  max-width: 500px;

  .image-uploader--crop-image {
    max-width: 100%;
  }
}
