@import 'style/variable';

.drop-list {
  position: absolute;
  border: 1px solid $border-light;
  right: 0;
  top: 100%;
  padding: 0;
  margin: 0;
  background-color: $white;

  li {
    cursor: pointer;
    user-select: none;
  }
}
