@import 'style/variable';
@import 'style/mixin';

.logoban {
  .logo {    
    height: 60px;
    max-height: 100%;
  }

  .text-logo {
    height: 40px;
    max-height: 60%;
    margin-left: 20px;
  }
}
