@import 'style/variable';

.date-picker {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  &--icon {
    fill: $md-light-blue-500;
  }

  &--text {
    color: $text-primary;
  }

  .icon-remove {
    display: inline-block;
    width: 18px;
    margin-left: 5px;
    opacity: 0.8;
  }
}

.modal__content.date-picker {
  .close-icon {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

.date-picker-modal {
  padding: 20px;
  transform: translate(-50%, -50%);
  top: 40%;
}
