@import 'style/variable';

.date-picker--day {
  cursor: pointer;
  text-align: center;
  color: $text-primary;

  &:hover {
    background-color: $gray-light-depth;
    border-radius: $radius-small;
  }

  &.out-range {
    opacity: 0.5;
    color: $text-disable;
  }

  &.today {
    background-color: #999;
  }
}
