.todo-list {
  width: 100%;
  padding-top: 6px;

  .ant-list-item {
    padding: 0px;
    margin: 2px 10px;
    border-bottom: none;

    .ant-list-item-content {
      width: 100%;
    }
  }

  .remain-todo-toggle {
    user-select: none;
    font-weight: 500;
    color: #202020;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 6px;
    display: inline-block;
    padding: 5px 10px 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    .fa {
      color: #70bf73;
      margin-right: 5px;
      vertical-align: middle;
      margin-top: -1px;
    }
  }
}
