@import 'style/variable';

.todo-list {
  width: 100%;


  .todos {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: visible;
    height: 100%;
    padding-bottom: 80px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .remain-todo-toggle {
    user-select: none;
    font-weight: 500;
    color: #44445f;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 6px;
    display: inline-block;
    padding: 5px 10px 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    .fa {
      color: #70bf73;
      margin-right: 5px;
      vertical-align: middle;
      margin-top: -1px;
    }
  }
}
