.todo-list {
  width: 100%;
  padding-top: 6px;

  .ant-list-item {
    padding: 0px;
    margin: 2px 0px;
    border-bottom: none;

    .ant-list-item-content {
      width: 100%;
    }
  }

  .remain-todo-toggle {
    user-select: none;
    font-weight: 500;
    background-color: #ff8787;
    color: white;
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 6px;
    display: inline-block;
    padding: 5px 11px 3px 6px;
    border-radius: 6px;

    .fa {
      color: #70bf73;
      margin-right: 5px;
      vertical-align: middle;
      margin-top: -1px;
    }
  }
}
