.FormField {
  margin-bottom: 12px;

  &.major {
    padding-top: 6px;
    .FormField--name {
      font-size: 17px;
      font-weight: bold;
    }
  }

  &--name {
    font-size: 12px;
    padding-left: 2px;
    margin-bottom: 6px;
    color: #555;
  }

  .require-flag {
    color: #ff3535c7;
  }
}
