@import 'style/variable';

.todo-boxs {
  position: relative;
  height: 100%;
  box-sizing: border-box;

  .todo-box-creater-container {
    font-weight: bolder;
    width: 100%;
    border-top: 1px solid $color-divider;
    border-bottom: 1px solid $color-divider;
    margin: 10px 0;
    background-color: $color-background-light;
    border-radius: $radius-middle;
  }

  .todo-box-group-list {
    padding: 10px 20px 20px;
    background-color: $color-background-light;
    border-radius: $radius-middle;
  }

  a {
    color: $color-text-primary;
  }

  .box-group {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .box-group--name {
    svg {
      margin-right: 10px;
    }
    svg, span {
      vertical-align: middle;
    }
  }

  .board-group {
    .box-group--name {
      svg {
        fill: $md-purple-600;
      }
    }
  }

  .default-todo-filter {
    svg {
      fill: $md-green-500;
    }
  }

  .all-todo-filter {
    svg {
      fill: $md-light-blue-400
    }
  }
}
