@import 'style/variable';

.todo {
  border-bottom: 1px solid $gray-light;
  padding: 15px 0 7px;
}

.todo--main {
  display: flex;
  justify-content: space-between;


  
}

.todo--content {
  flex-grow: 1;
  margin-left: 14px;
  padding: 0 14px;
  user-select: initial;
}

.todo--content__input {
  width: 100%;
  border: none;
  resize: none;
  border-radius: $radius-middle;
  background-color: $gray-light-depth;
  margin: 0 14px;
  padding: 0 14px;
}

.todo-editing--deadline {
  display: flex;
  align-items: center;

  .date-picker {
    margin-left: 14px;

    input {
      border: none;
    }
  }
}

.todo--operation {
  position: relative;
  .more-icon {
    cursor: pointer;
  }
}


.todo-operation--list {
  
}
