@import 'style/variable';

.todo-boxs {
  position: relative;
  height: 100%;
  box-sizing: border-box;

  .todo-box-creater-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid $color-border;
  }

  .todo-box-group-list {
    padding: 20px;
  }

  a {
    color: $color-text-primary;
  }

  .box-group {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .box-group--name {
    svg {
      margin-right: 10px;
    }
    svg, span {
      vertical-align: middle;
    }
  }

  .board-group {
    .box-group--name {
      svg {
        fill: $md-purple-600;
      }
    }
  }

  .all-todo-filter {
    svg {
      fill: $md-light-blue-400
    }
  }
}
