@import 'style/variable';
@import 'style/page/todo/variable';

.todo {
  padding: $todo-item-padding;
  background-color: $color-background-light;
  border-radius: $radius-middle;
  margin-bottom: 5px;
  transition: height 300ms;
  box-shadow: 0 0 5px #ccc;

  &:hover {
    .todo-hover-operation {
      visibility: visible;
    }
  }
}

.todo--main {
  display: flex;;
  justify-content: space-between;
}

.todo--content {
  flex-grow: 1;
  margin-left: 20px;
  user-select: initial;
}

.todo--content__input {
  width: 100%;
  border: none;
  resize: none;
  border-radius: $radius-middle;
  background-color: $gray-light-depth;
  margin: 0 14px;
  padding: 0 14px;
}

.todo-editing--deadline {
  display: flex;
  align-items: center;

  .date-picker {
    margin-left: 14px;

    input {
      border: none;
    }
  }
}

.todo-editing--meta {
  margin-top: 10px;
}

.todo-hover-operation {
  visibility: hidden;
  margin-right: 20px;

  svg {
    cursor: pointer;

    &.delete-icon {
      fill: $md-grey-700;
    }
  }
}
