@import 'style/variable';

.todo-creater--toggle {
  margin: 14px 0 6px;
  cursor: pointer;
  display: flex;
  align-items: center;

  .add-icon {
    fill: $white;
    background-color: $black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right: 14px;
  }

  .toggle-text {
    letter-spacing: 1px;
  }
}

.todo-creater-body {
  box-shadow: 1px 2px 5px #ddd;
  padding: 9px 13px;
  margin-top: 14px;

  .todo-creater--content {
    resize: none;
    border: 1px solid $border-light;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 3px 8px;
  }

  .todo-creater--label {
    margin-top: 7px;

    input {
      padding: 3px 9px;
    }
  }

  .repeat-input {
    margin-top: 7px;
    label {
      color: $gray-deep;
    }
    .select {
      margin-left: 13px;

      .select--container {
        min-width: 100px;
        width: auto;
      }
    }
  }

  .todo-creater-operation {
    margin-top: 7px;

    .cancel-button {
      margin-left: 14px;
    }
  }

  .todo-creater-deadline {
    margin-top: 7px;
    display: flex;
    align-items: center;

    label {
      color: $gray-deep;
    }
    .date-picker {
      margin-left: 13px;

      input {
        border: none;
        margin-left: 13px;
      }
    }

  }

}
