@import 'style/variable';
@import 'style/mixin.scss';

.todo-repeat-chart-modal {
  margin-top: 50px;
  width: 400px;
  padding: 15px;

  .modal-header {
    @include clearfix();
    border-bottom: 1px solid $color-divider;
    margin-bottom: 10px;
    .modal-header--heading {
      display: inline-block;
      color: $text-primary;
    }

    .close-button {
      float: right;
    }
  }

  .todo-repeat-chart-modal--empty {
    text-align: center;
    .empty--text {
      color: $text-secondary;
    }
  }
}
