.Deadline {
  display: flex;
  align-items: center;

  &--main {
  }

  .app-checkbox {
    margin-right: 10px;
  }

  svg {
    font-size: 16px;
    margin-right: 6px;
  }

  &--text {
    font-size: 15px;
  }
}
