.Issues {
  display: flex;
  transition: width 100px ease-in-out;
  height: 100%;
  
  &--list {
    flex-grow: 1;
    width: 50%;
    padding: 12px 6px 0 12px;

    ul {
      padding-bottom: 12px;
      margin: 0 auto 0;
    }

    li {
      margin-bottom: 6px;

      &:first-child {
        border-top: 0;
      }
    }
  }

  &--detail-container {
    transition: width 100px ease-in-out;
    width: 50%;
    height: 100%;
  }
}
