.Issues {
  display: flex;

  &-list {
    width: 500px;
    padding-left: 12px;

    ul {
      padding: 0;
    }

    li {
      border-top: 1px solid #999;

      &:first-child {
        border-top: 0;
      }
    }
  }
}
