@import 'style/variable';

nav.nav {
  position: relative;
  width: 100%;
  z-index: 100;
  height: $nav-height;
  background-color: $red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5px 20px 0;
  box-sizing: border-box;

  .logoban {
    flex-shrink: 2;
    color: black;
    height: 24px;
    margin-top: -1px;

    .logo {
      border-radius: $radius-small;
      height: 24px;
    }

    .text-logo {
      margin-left: 8px;
      height: 16px;
    }

    @media screen and (max-width: 600px) {
      .text-logo {
        display: none;
      }
    }
  }

  .nav-link-area {
    flex-grow: 2;
    margin-top: 3px;

    .nav-links__large-device {
      margin-top: 8px;
      margin-left: 20px;
      float: left;

      li {
        float: left;

        &.active {
          font-weight: 500;
          text-shadow: 0 0 1px #fff;
        }
      }

      a {
        margin-left: 10px;
        color: #fff;
        letter-spacing: 0.3px;
      }
    }

    .nav-links__small-device {

      .nav-active-link__small-device {
        margin-top: -3px;
        text-align: center;
        cursor: pointer;
        user-select: none;
        padding-left: 32px;
        color: $white;
        font-weight: 500;
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

        .fa {
          margin-left: 8px;
          vertical-align: middle;
          color: $white;

          &.toggle {
            transform: rotate(180deg);
          }
        }
      }

      .drop-list {
        width: 100%;
        border: none;
        box-shadow: none;
        background-color: $primary-bg;
        border-radius: 0;

        li {
          border-top: 1px solid #f8f8f8;
        }

        a {
          display: block;
          color: $white;
          padding: 12px 0;
          text-align: center;
          font-size: 0.9rem;
        }
      }
    }
  }

  .avatar-area {
    cursor: pointer;
    color: $white;
    user-select: none;
    transition: opacity 100ms ease-in-out;

    &:hover {
      opacity: 0.99;
    }

    & > div {
      user-select: none;
    }

    .nav-username {
      margin-right: 8px;
    }

    .nav-avatar {
      margin-top: -1px;
      height: 27px;
      width: 27px;
      border-radius: 50%;
      vertical-align: middle;
    }

    .fa-angle-down {
      margin-left: 5px;
      vertical-align: middle;

      &.toggle {
        transform: rotate(180deg);
      }
    }
  }

  .nav-avatar-drop-down {
    width: 180px;
    border-radius: $radius-middle;
    box-shadow: 0 0 3px #eee;

     li {
       padding: 12px 10px;
       font-size: 14px;
       color: $text-primary;
       cursor: pointer;
       border-bottom: 1px solid $color-divider;
       text-overflow: ellipsis;
       overflow: hidden;
       white-space: nowrap;

       &:last-child {
         border-bottom: none;
       }

       a {
         color: inherit;
         display: inline-block;
         height: 100%;
         width: 100%;
       }
     }

     @media screen and (max-width: 600px) {
       width: 100%;
       position: absolute;
       box-shadow: none;
       border-radius: 0;
       border: 0;
       background-color: $primary-bg;

       li {
         text-align: center;
         color: $white;
         font-size: 0.9rem;

         &:last-child {
           border-bottom: 1px solid $color-divider;
         }
       }
     }
  }
}
