@import 'style/variable';
@import 'style/mixin';

.button {
  border: none;
  cursor: pointer;
  border-radius: $radius-small;
  padding: 4px 13px 3px;
  line-height: 1;

  &.middle {
    height: 30px;
  }

  &.large {
    height: 45px;
    border-radius: $radius-large;
  }

  &.small {
    height: 22px;
  }

  &.dangerous {
    background-color: $color-dangerous;
    color: $white;
  }

  &.default {
    border: 1px solid #e8e8e8;
    background-color: $button-default;
  }

  &.primary {
    background-color: $blue-dark;
    border: 1px solid $blue-dark;
    color: $white;
  }

  &.border-primary {
    border: 1px solid $blue-dark;
  }

  &[disabled] {
    opacity: 0.9;
    background-color: #d8d8d8;
    border-color: #d8d8d8;
    cursor: initial;
  }
}
