@import 'style/variable';
@import 'style/mixin';

.board-setting-preference {

  .board-notification {
    margin-top: 20px;
    &--heading {
      color: $text-primary;
      margin-bottom: 10px;
    }
  }
}
