.image-upload {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.ImageUploaderModal .crop-image-container {
  text-align: center;
  min-height: 200px;
  min-width: 350px;
  padding: 12px;
}

.image-upload .ReactCrop__image {
  margin: 0 auto;
}

.image-upload .ReactCrop {
  background-color: transparent !important;
}

.image-upload input {
  visibility: hidden;
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
}
