.AppButton {
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
  padding: 3px 9px;

  &.disabled {
    background: #bbb !important;
    color: white !important;
    cursor: not-allowed !important;
  }

  &.primary {
    background-color: #eb6668;
    color: white;
  }

  &:hover {
    opacity: 0.8;
  }

  &.dashed {
    border: 1px solid #999;
  }
}
