@import 'style/variable';

.date-picker {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal__content.date-picker {


  .close-icon {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}
