.nav-operation-dropdown {
  margin-left: 12px;
  cursor: pointer;
  user-select: none;
}

.nav-add-operation-menu {
  padding: 8px 0;

  .svg-inline--fa {
    color: #777;
    margin-right: 12px;
  }
}
