@import "../../../style/variable";
@import "../../../style/mixin";

.board-setting-operation {
  .board-delete {
    margin-top: 20px;
    &--heading {
      color: $text-primary;
      margin-bottom: 10px;
    }
  }
}
