@import 'style/variable';
@import 'style/mixin';

.signup-page {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  
  .signup-form {
    width: 330px;
    margin-top: -100px;
    align-self: center;

    input {
      @include form-input;
    }

    .signup-button {
      width: 100%;
    }
  }
}
