.AssigneeSelector {
  width: 180px;

  .App-select__value-container {
    padding: 4px;
  }

  .AssigneeSelectorOption {
    img {
      margin-right: 6px;
      vertical-align: middle;
    }

    &--label {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }
  }
}
