.ColumnIssueCreator {
  margin: 8px 4px 0;

  &--toggle {
    color: #777;

    .AppButton {
      &:hover {
        background-color: #d8d8d8;
      }

      svg {
        margin-right: 6px;
      }
    }
  }

  &--operation {
    margin-top: 4px;

    .cancel-button {
      margin-left: 6px;

      &:hover {
        background-color: #d8d8d8;
      }
    }
  }
}
