@import 'style/variable';
@import 'style/mixin';

.signin-page {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 14%;

  .signin-main {
    width: 330px;

    .signup-tip {
      margin-top: 18px;
      display: flex;
      justify-content: space-between;
      color: $black-light;

      .signup-link {
        font-weight: bolder;
      }
    }
  }

  .signin-form {
    margin-top: 25px;
    input {
      @include form-input;
    }

    .error-msg {
      margin-bottom: 25px;
    }

    .signin-button {
      width: 100%;
    }
  }
}
