@import 'style/variable';
@import 'style/mixin';
@import 'style/page/todo/variable';

.todo {
  @include clearfix();
  position: relative;
  padding: $todo-item-padding;
  background-color: $color-background-light;
  border-radius: $radius-middle;
  margin-bottom: 5px;
  transition: height 300ms;
  box-shadow: 0 0 5px #ccc;
  width: 100%;
  opacity: 0.8;
  transition: all 200ms ease-in-out;


  &.done {
    .todo--content {
      text-decoration: line-through;
    }
  }

  .star-checkbox {
    .fa-star-o {

    }
  }



  &.open {
    background-color: $primary-bg;
    opacity: 1;
    color: white;

    .todo-hover-operation {
      visibility: visible;
      float: right;
    }
    .todo--main {
      .star-checkbox {
        opacity: 1;
      }
    }

    .checkbox {
      .fa-square-o {
        color: #fff;
      }
      .fa-check-square-o {
        color: #9ef092;
      }
    }

  }

  &:hover {
    .todo-hover-operation {
      visibility: visible;
    }
  }
}

.todo--main {
  position: relative;
  display: flex;
  justify-content: space-between;

  .checkbox {
    top: 2px;
    flex-shrink: 0;
    height: 25px;
    width: 25px;
    font-size: 20px;
  }

  .star-checkbox {
    margin-right: 5px;
    opacity: 0;


    &.checked {
      opacity: 1;
    }
  }

  .todo-deadline-label {
    color: $white;
    min-width: 60px;
    display: inline-block;
    margin-left: 10px;

    span {
      background-color: $red;
      border-radius: 5px;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}

.todo--content {
  width: 100%;
  margin-left: 15px;
  margin-right: 10px;
  line-height: 22px;
  user-select: initial;
  vertical-align: middle;
  word-break: break-all;
  font-size: 14px;
}

.todo--content__input {
  width: 100%;
  border: none;
  resize: none;
  border-radius: $radius-middle;
  background-color: $gray-light-depth;
  margin: -3px 13px;
  font-size: 14px;
  height: 22px;
}

.todo-editing--meta {
  margin-top: 10px;

  .todo-editing-field {
    & > .fa {
      margin-right: 10px;
    }
  }


  .todo-editing--deadline {
    display: flex;
    align-items: center;

    .fa-calendar-check-o {
      margin-top: -2px;
    }

    .date-picker {
      margin-left: 10px;
      .date-picker--text {

        &.placeholder {
          color: $white;
        }
      }
    }
  }

  .todo-editing--repeat {
    .select {
      margin-left: 10px;

      svg {
        fill: $white;
        margin-top: -2px;
        margin-left: -5px;
      }

      .select--box {
        border: none;
      }

      .select-box--name {
        color: $white;
      }

      .select--container {
        color: $black;
      }
    }
  }
}

.todo-hover-operation {
  visibility: hidden;
  margin-right: 12px;
  white-space: nowrap;
  width: 50px;
  .icon-delete {
    position: relative;
    top: 3px;
    width: 22px;
  }

  .image-icon {
    margin-left: 10px;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }
  }
}
