@import 'style/variable';
$nav-height: 42px;

.taskboard-header {
  position: relative;
  text-align: center;
  display: flex;
  height: 33px;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background-color: $drak-light;

  .taskboard-name {
    &--star {
      vertical-align: middle;
      fill: $white;
      margin-right: 7px;
      cursor: pointer;
    }

    &--text {
      vertical-align: middle;
      color: $white;
      cursor: pointer;
      font: {
        size: $font-size-xxx-large;
        weight: 700;
      }
    }
  }

  .taskboard-header-setting {
    color: $white;
    cursor: pointer;
    .setting-icon {
      fill: $white;
      margin-right: 7px;
    }

    span {
      font-weight: lighter;
    }

    .setting-icon, span {
      vertical-align: middle;
    }
  }
}


.board-container {
  position: fixed;
  top: $nav-height;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-container.board-page-container {
  width: 100%;
  overflow-x: auto;
  height: calc(100% - 33px);
}

.board-track-container {
  padding: 0 10px;
}
