@import "../../../../../../style/variable";

.KanbanColumn {
  display: block;
  flex-shrink: 0;
  width: 180px;
  height: 100%;
  margin-left: 12px;
  border-radius: 6px;

  &:first-child {
    margin-left: 0;
  }
}

