@import "../../../../../../style/variable";

.KanbanColumn {
  display: block;
  flex-shrink: 0;
  width: 180px;
  height: 100%;
  margin-left: 12px;
  border-radius: 6px;
  

  &:first-child {
    margin-left: 0;
  }

  &--header {
    display: flex;
    justify-content: space-between;

    &-name {
      display: inline-block;
      line-height: 26px;
      font-weight: bolder;
    }
  }

  &--content {
    overflow-y: auto;

    .ProjectIssue {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
