$project-header-bar-height: 32px;

.ProjectHeaderBar {
  display: flex;
  justify-content: space-between;
  height: $project-header-bar-height;
  border-bottom: 1px solid #e8e8e8;
  padding: 3px 8px 3px 21px;

  &--project-name {
    font-size: 18px;
    display: inline-block;
    font-weight: bolder;
  }
}
