.SectionField {
  margin-bottom: 22px;

  &.transform {
    .SectionField--content {
      background-color: transparent;
      padding: 0;
    }
  }

  &--name {
    margin-bottom: 8px;
    margin-left: 1px;
    color: #333;
    font-size: 16px;

    span {
      font-weight: bold;
      margin-right: 12px;
    }
  }

  &--content {
    background-color: white;
    border-radius: 3px;
    padding: 6px 12px;
  }
}
