@import 'style/variable';

$content-width: 409px;
$content-top: 80px;

.modal__content.taskcard-modal {
  width: $content-width;
  top: $content-top;
  padding: 8px 0 0;

  .hr {
    left: 0;
    width: 100%;
    margin: 10px 0;
  }

  .taskcard-modal--title {
    .title--checkbox {
      width: 20px;
      height: 20px;
      font-size: 25px;
    }
  }
}

.taskcard-modal--top-bar, .taskcard-modal--title,
.taskcard-modal--content, .taskcard-modal--people,
.taskcard-modal--comments {
  margin: 0 13px;
}

.taskcard-modal--top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .top-bar-list-chooser {
    display: flex;
    width: 90%;

    .top-bar--list-label {
      font-weight: bolder;
      color: $black-light;
    }

    .select {
      margin-left: 10px;
      width: 100%;

      &--box {
        border: none;
      }

      ul {
        z-index: 100;
      }
    }
  }
}

.taskcard-modal--title {
  display: flex;
  align-items: flex-start;
  margin-top: 6px;

  .title--input {
    border: none;
    margin-left: 12px;
    width: 100%;
    resize: none;
    background-color: $gray-light-depth;
    border-radius: $radius-middle;
  }
}

.taskcard-modal--content {
  margin-bottom: 10px;
  textarea {
    width: 100%;
    border: 1px solid $border-light;
    border-radius: $radius-middle;
    box-shadow: 0 1px 3px $gray-light-litte-depth inset;
    font-size: $font-size-x-middle;
    padding: 8px 11px;
    box-sizing: border-box;
    resize: none;
    min-height: 78px;
  }
}

.taskcard-modal--people {
  position: relative;
  border: 1px solid $border-light;
  vertical-align: middle;
  padding: 14px 6px 6px;
  display: flex;

  .useravatar {
    display: block;
    width: 30px;
    height: 30px;
  }

  &:before {
    content: 'People';
    letter-spacing: 1px;
    color: $gray-deep;
    display: block;
    position: absolute;
    left: 10px;
    top: -10px;
    background-color: $white;
    padding: 0 8px;
    font-size: 15px;
  }
}

.taskcard-modal--comments {
  position: relative;
  padding: 14px 8px 0px;
  margin-top: 14px;
  border: 1px solid $border-light;

  &:before {
    content: 'Comments';
    letter-spacing: 1px;
    color: $gray-deep;
    display: block;
    position: absolute;
    left: 10px;
    top: -10px;
    background-color: $white;
    padding: 0 8px;
    font-size: 15px;
  }

  .comment-item {
    margin-bottom: 8px;
    display: flex;
    align-items: space-between;
    .useravatar {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
    .comment-item--content {
      flex-grow: 2;
    }
    .comment-item--date {
      flex-shrink: 2;
      align-self: flex-start;
      font-size: $font-size-small;
    }
  }
}


.taskcard-modal--comment-input-container {
  height: auto;
}

.taskcard-modal--comment-input {
  border-bottom-radius: 4px;
  margin-top: 14px;
  width: calc(100% + 2px);
  left: -1px;
  top: 1px;
  position: relative;
  z-index: 1;
  padding: 6px 13px;
  display: flex;
  align-items: center;
  background-color: $md-light-blue-100;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  textarea {
    width: 100%;
    padding: 3px 8px;
    resize: none;
    border-radius: $radius-middle;
    border: none;
  }
}
