

.taskcard-modal {
  .headline {
    .ant-form-item-children {
      display: flex;
    }
  }

  .ant-modal-header {
    padding: 8px 24px;
  }


  .ant-checkbox {
    margin-left: 6px;
    transform: scale(1.5, 1.5);
  }

  .track-selecter {
    padding-top: 10px;

    .ant-select-selection {
      border: 0;
      box-shadow: none;
    }
  }

  .title-input {
    
  }

}

.card-detail-dropmenu {
  .anticon {
    width: 30px;
  }
}
