@font-face {
  font-family: Averia Sans Libre;
  src: url(/assets/fonts/Averia_Sans_Libre/AveriaSansLibre-Regular.ttf);
  font-weight: regular;
}

@font-face {
  font-family: Averia Sans Libre;
  src: url(/assets/fonts/Averia_Sans_Libre/AveriaSansLibre-Bold.ttf);
  font-weight: bold;
}
