@import './constant';
@import './color';


$background-light: $gray-light-depth;
$background-gray: $gray-light;

$content-light: $white;
$content-dark-depth: #000;
$content-dark: #333;

$font-size-small: 10px;
$font-size-middle: 12px;
$font-size-x-middle: 14px;
$font-size-large: 16px;
$font-size-x-large: 18px;
$font-size-xx-large: 20px;
$font-size-xxx-large: 22px;

$font-size-lg: 22px;
$font-size-sm: 14px;

$border-light: $gray-light-litte-depth;

$shadow-light: $gray-light-litte-depth;

$page-background-gray: #fff;

$task-card-background: $content-light;

$button-primary: $blue-dark;
$button-default: $white;

$radius-small: 3px;
$radius-middle: 6px;
$radius-large: 9px;

$size-x-small: 16px;

$icon-small: $size-x-small;
$icon-middle: 20px;

$media-break-small: 320px;
$media-smal: 768px;
$media-break-large: 1200px;
