@font-family-no-number: "Chinese Quote", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family: "Mukta", @font-family-no-number;

@layout-header-background: color(rgba(0, 0, 0, 0));
@layout-body-background: color(rgba(0, 0, 0, 0));

@border-radius-base: 6px;

@layout-header-padding: 0 0;
@layout-header-height: 42px;
@menu-item-height: 42px;
@menu-highlight-color: color(#ffffff);
@menu-item-active-bg: color(#ffffff);
@menu-bg: color(#ffffff);

@primary-color: color(#eb6668);
@error-color: color(#f5222d);

@menu-highlight-color: #999;
