@import "../../style/variable.less";

.app-header {
  background-color: @primary-color !important;
  padding: 0 20px !important;

  .logoban {
    float: left;
    display: inline-block;
  }
  .logo {
    width: 20px;
    height: 20px;
  }

  .logo-text {
    width: 80px;
    margin: 8px 0 0 3px;
  }
}
