.AppNav {
  display: flex;
  align-items: center;
  background-color: #4697f5;
  height: 38px;
  padding: 0 12px;
  position: relative;
  z-index: 10;

  &--ban {
    color: white;
    align-items: center;
    display: flex;
    flex: 0;

    .Logo {
      border-radius: 50%;
    }

    .TextLogo {
      color: white;
      margin-left: 4px;
    }
  }

  .AppNav--menu {
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    flex-grow: 100;

    .app-header-menu--link-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      color: #777;
      text-decoration: none;
      margin-left: 10px;
      display: inline-block;
      width: 60px;
      height: 26px;
      line-height: 26px;
      font-weight: 500;
      letter-spacing: 0.5px;
      text-align: center;
      border-radius: 6px;
      background-color: white;
    }

    a.active {
      background-color: white;
      color: #6b69e0;
    }
  }

  .AppNav--Avatar {
    display: flex;
    align-items: center;
    flex: 0;

    .AppButton {
      padding: 0;
      height: 32px;

      img {
        background-color: white;
        border-radius: 50% !important;
      }

      &:hover {
        background-color: white;
      }
    }
  }
}
