@import 'style/variable';

.calendar {
  user-select: none;

  .calendar-header {
    display: flex;
    justify-content: space-between;

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-top: 3px;

      &:hover {
        background-color: $primary-bg;
        border-radius: $radius-small;
        cursor: pointer;
        fill: $white;
      }
    }

    &--year-month {
      flex-grow: 2;
      text-align: center;
      border-radius: $radius-small;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;


      &:hover {
        background-color: $primary-bg;
        color: $white;
      }
    }
  }

  .month-table {
    table-layout: fixed;
    white-space: nowrap;

    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      width: 35px;
      line-height: 35px;
      text-align: center;
    }

    .week-text {
      color: $primary-bg;
      font-weight: bolder;
      cursor: pointer;
    }
  }
}
