.ColumnIssueCreator {
  margin: 8px 4px 0;

  .AppTextArea {
    background-color: white;
  }

  &--toggle {
    color: #777;

    .AppButton {

      svg {
        margin-right: 6px;
      }
    }
  }

  &--operation {
    margin-top: 4px;
    display: flex;
    align-items: center;

    .cancel-button {
      margin-left: 6px;

      &:hover {
        background-color: #d8d8d8;
      }
    }
  }
}
