@import 'style/variable';

.todo-boxs {
  position: relative;
  box-sizing: border-box;

  .todo-box-creater-container {
    font-weight: bolder;
    width: 100%;
    border: 1px solid $color-divider;
    margin: 10px 0;
    background-color: $color-background-light;
    border-radius: $radius-middle;
    box-shadow: 0 0 5px #eee;
  }

  .todo-box-group-list {
    padding: 20px 0 20px;
    background-color: $color-background-light;
    border-radius: $radius-middle;
    box-shadow: 0 0 5px #eee;

    .box-group {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .fa-user-circle-o {
      color: #0e88eb;
    }
  }

  .nav-links__large-device {
    .todo-box-group-list{

      li {
        padding: 0 20px;
        font-size: 1.2rem;
        border-bottom: 1px solid #f8f8f8;

        i {
          margin-right: 10px;
        }

        &.active {
          font-weight: 500;;
          background-color: #f8f8f8;
        }

        .fa-chevron-left {
          display: none;
        }
      }
    }

  }

  .todo-box__small-device {
    position: relative;

    .todo-box--current-name {
      font-size: 1.2rem;
      padding: 5px 12px 7px;
      display: flex;
      align-items: center;
      color: white;
      background-color: $primary-bg;;
      z-index: 200;

      i {
        vertical-align: middle;
      }

      .fa-envelope-open {
        margin-right: 12px;
      }

      .fa-chevron-down {
        font-weight: 100;
      }

      span {
        flex-shrink: 0;
        flex-grow: 10;
      }
    }

    .drop-list {
      top: 0;
      width: 100%;
      z-index: 100;
      border: none;
      background-color: $primary-bg;
      opacity: 0;
      transition: all 100ms ease-in-out;

      &.open-after {
        opacity: 1;
      }

      &.close-before {
        opacity: 0;
      }
    }

    .todo-box-group-list {
      padding: 0;
      border-radius: 0;
      box-shadow: none;
      background-color: $primary-bg;
      max-height: 457px;
      overflow: auto;

      li {
        font-size: 1.2rem;
        border-top: 1px solid #f0f0f0;

        color: white;

        &.active {
          font-weight: 500;
        }

        a {
          display: flex;
          align-items: center;
          color: white;
          letter-spacing: 1px;
          padding: 3px 0px 2px 12px;

          span {
            flex-grow: 10;
            flex-shrink: 0;
            display: inline-block;
          }

          i {
            margin-right: 8px;
            color: white !important;
            display: inline-block;
          }

        }
      }
    }
  }

  a {
    color: $text-primary;
  }
}
