@import 'style/variable';


.todo-box-creater--toggle {
  cursor: pointer;
  padding: 6px 20px;
  svg, span {
    vertical-align: middle;
  }

  .add-icon {
    margin-right: 10px;
    fill: $gray-super-deep;
  }
}
