@import 'style/variable';
@import 'style/mixin';

.checkbox {
  position: relative;
  display: inline-block;

  .checkbox--mock {
    display: block;
    position: relative;
    left: 0;
    top: 0;
  }


  input {
    visibility: hidden;
    position: relative;
    height: 0;
    width: 0;
    &:checked + .checkbox--mock:before {
      display: block;
    }
  }

  .fa {
    position: relative;
    cursor: pointer;
    top: 0;
    left: 0;

    &.fa-check-square-o {
      color: #4caf50;
    }

    &.fa-square-o {
      color: #999;
    }
  }

}
