@import 'style/variable';
@import 'style/mixin';

.checkbox {
  position: relative;
  display: inline-block;

  input {
    visibility: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    &:checked + .checkbox--mock:before {
      display: block;
    }
  }

  .fa {
    position: absolute;
    top: 0;
    left: 0;

    &.fa-check-square-o {
      color: #4caf50;
    }

    &.fa-square-o {
      color: #999;
    }
  }
}

.checkbox--mock {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
