.SideItemLink {
  font-size: 16px;
  padding: 6px 0;

  &--icon {
    width: 28px !important;
    text-align: left;
    margin-right: 6px;
  }

  a.active {
    font-weight: bolder;
    text-decoration: none;
  }
}
