@import "style/variable";
$nav-height: 42px;

.taskboard-header {
  position: relative;
  text-align: center;
  display: flex;
  height: 33px;
  padding: 0 20px;
  align-items: center;
  background-color: $drak-light;

  &--star {
    margin-right: 12px;
  }

  .taskboard-name {
    vertical-align: middle;
    margin-top: 1px;
    &--text {
      vertical-align: middle;
      color: $white;
      cursor: pointer;
      font: {
        size: $font-size-xxx-large;
        weight: 700;
      }
    }
  }

  .taskboard-header-setting {
    color: $white;
    cursor: pointer;
    position: absolute;
    right: 20px;
    font-size: 18px;

    i {
      fill: $white;
      margin-right: 7px;
    }

    span {
      font-weight: lighter;
    }

    i,
    span {
      vertical-align: middle;
    }
  }
}

.board-container {
  height: calc(100% - 42px);
  width: 100%;
  overflow: hidden;
  position: absolute;
}
