@import 'style/variable';
@import 'style/mixin';

.todo-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 5%;
  padding-bottom: 50px;
  height: 100%;
  box-sizing: border-box;
  padding-top: 42px;
  overflow: hidden;

  .todo-box-container {
    background-color: #f8f8f8;
    padding: 0 10px;;
    display: inline-block;
    height: 100%;
    width: 250px;
    min-width: 250px;
  }

  .todo-list-container {
    min-width: 300px;
    display: inline-block;
    position: relative;
    width: calc(100% - 250px);
    flex: 1;
    height: 100%;
  }

  @media screen and (max-width: 600px) {

    .todo-box-container {
      display: block;
      width: auto;
      min-width: auto;
    }

    .todo-list-container {
      display: block;
      width: auto;
    }

  }
}
