@import "style/variable";
@import "../_task-variable";

.tasklist-creater {
  border-radius: $list-radius;
  padding: 10px 12px;
  display: inline-flex;
  vertical-align: top;
  width: $list-width;
  margin: $list-vertical-margin $list-horiz-margin;
  justify-content: space-between;
  background-color: $gray-super-light;
  align-items: center;

  input {
    border: none;
    padding: 5px 8px;
    background-color: #fff;
    border-radius: 3px;
    display: block;
    margin-bottom: 12px;
  }

  .creater-button {
    margin-right: 10px;
  }
}

.task-track--toggle {
  display: flex;
  align-items: center;
  color: $gray-deep;
  font-weight: bolder;

  .icon-add {
    margin-right: 8px;
    vertical-align: middle;
  }
}
