.task-card {
  flex: 1 0 auto;
  background: white;
  white-space: normal;
  word-break: break-all;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0;
  padding: 12px;
  box-shadow: 0 2px 4px #eee;
  cursor: pointer;

  &.long {
    border-radius: 3px;
    padding: 5px 6px;
    margin: 6px;

    .useravatar {
      width: 25px;
      height: 25px;
    }
  }

  .task-card--title {
    padding: 0 12px;
    width: 205px;
  }

  .useravatar {
    width: 39px;
  }

  &:first-child {
    margin-top: 0px;
  }
}


.task-card-placeholder {
  width: 100%;
  background: #f8f8f8;
  box-shadow: 0 2px 4px #eee;
  margin: 4px 0;
}
