@import 'style/variable';
@import 'style/mixin';

.star-checkbox {
  position: relative;
  display: inline-block;

  input {
    visibility: hidden;
    width: 22px;

    &:checked + .star-checkbox--mock:before {
      display: block;
    }
  }

}

.star-checkbox--mock {
  cursor: pointer;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 25px;
  width: 25px;
  background-image: url(/assets/icons/star-border.png);
  background-size: cover;

  &:before {
    cursor: pointer;
    content: '';
    z-index: 10;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: {
      image: url(/assets/icons/star.png);
      repeat: no-repeat;
      size: cover;
    };
  }
}
