@import 'style/variable';
@import 'style/mixin';

.button {
  border: none;
  cursor: pointer;
  border-radius: $radius-small;
  padding: 4px 13px;
  box-sizing: border-box;
  line-height: 1;

  &.middle {
    height: 30px;
  }

  &.large {
    height: 45px;
  }

  &.default {
    border: 1px solid $gray;
    background-color: $button-default;
  }

  &.primary {
    background-color: $blue-dark;
    border: 1px solid $blue-dark;
    color: $white;
  }

  &.border-primary {
    border: 1px solid $blue-dark;
  }
}
