@import 'style/variable';
@import 'style/mixin';

.button {
  border: none;
  cursor: pointer;
  border-radius: $radius-middle;
  padding: 4px 13px;
  box-sizing: border-box;
}

.button.middle {
  height: 30px;
}

.button.default {
  border: 1px solid $gray;
  background-color: $button-default;
}

.button.primary {
  background-color: $blue-dark;
  border: 1px solid $blue-dark;
  color: $white;
}
