@import 'style/variable';
@import 'style/mixin';

.checkbox {
  position: relative;
  display: inline-block;

  input {
    visibility: hidden;
    width: 22px;
    &:checked + .checkbox--mock:before {
      display: block;
    }
  }
}

.checkbox--mock {
  @include shadow-depth-light;
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  height: 18px;
  width: 18px;
  border: 1px solid $gray-light-litte-depth;
  border-radius: 6px;
  cursor: pointer;

  &:before {
    content: '';
    z-index: 1;
    display: none;
    position: absolute;
    left: -3px;
    top: -3px;
    height: 23px;
    width: 24px;
    mask: url(/assets/icons/right.png);
    mask-size: cover;
    background: {
      color: $green;
      repeat: no-repeat;
      size: cover;
    };
    cursor: pointer;
  }
}
