.modal__overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal__content {
  position: absolute;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  --webkit-overflow-scrolling: touch;
}
