@import 'style/variable';

.select {
  position: relative;
  display: inline-block;
}

.select--box {
  border: 1px solid $gray;
  border-radius: 3px;
  padding: 0 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  svg {
    position: relative;
    top: 2px;
    right: -5px;
    transition: transform 80ms ease-in-out, top;/* TODO 贝塞尔 */
  }

  .select-box--name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    color: $gray-super-deep;
  }

  &.select--box__opening {
    svg {
      transform: rotate(180deg);
      top: -1px;
      right: -5px;
    }
  }
}

.select--container {
  margin: 0;
  position: absolute;
  z-index: 1;
  background-color: $content-light;
  max-width: 100%;
  border: 1px solid $gray;
  border-radius: $radius-middle;
  overflow-y: auto;
}

.select--item {
  user-select: none;
  cursor: pointer;
  border-bottom: 1px solid $gray-light-depth;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
  &:hover {
    background-color: $gray-light-depth;
  }
  
  &:last-child {
    border-bottom: none;
  }
}
