@import 'style/variable';

.select {
  position: relative;
  display: inline-block;
}

.select--box {
  border: 1px solid $gray;
  border-radius: 3px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  svg {
    position: relative;
    top: 2px;
    transition: transform 100ms ease-in-out;
  }

  &.select--box__opening {
    svg {
      transform: rotate(180deg);
    }
  }
}

.select--container {
  margin: 0;
  position: absolute;
  background-color: $content-light;
  width: auto;
  border: 1px solid $gray;
  border-radius: $radius-middle;
}

.select--item {
  user-select: none;
  cursor: pointer;
  border-bottom: 1px solid $gray-light-depth;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;

  &:hover {
    background-color: $gray-light-depth;
  }
  
  &:last-child {
    border-bottom: none;
  }
}
