@import 'style/variable';

.image-uploader {
  .image-uploader--button {
    border: 1px solid $blue-dark;
    color: $blue-dark;
  }

  input[type='file'] {
    display: none;
  }
}

.image-uploader-modal {
  top: 5%;
  max-width: 600px;
  min-width: 400px;
  overflow: auto;
  max-height: 90%;

  .upload-link {
    svg: {
      fill: blue;
    }
  }

  .upload--preview-image {
    width: 100%;
  }

  .crop-image-container {
    text-align: center;
    background-color: $black;
  }
  .ReactCrop {
    height: 100%;

    .ReactCrop--image {
      height: 100%;
    }

    .ReactCrop--image-copy {
      height: auto;
      height: 100%;
    }
  }
}
