.ant-layout-content {
  &::-webkit-scrollbar {
    display: none;
  }
}

.todo-page {
  .todo-page--sider {
    padding-top: 30px;
  }

  .todo-page--main {
    width: 100%;
    background-color: #f8f8f8;
    border-left: 1px solid #f8f8f8;
    padding-left: 10px;
    padding-right: 10px;
  }
}
