.ProjectKanban {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 12px;
  box-sizing: border-box;

  .ProjectKanban--kanban-container {
    width: max-content;
    height: 100%;
  }
}
