.ProjectKanban {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 12px;
  padding-bottom: 0;
  box-sizing: border-box;

  .ProjectKanban--kanban-container {
    height: 100%;
    overflow-x: auto;
  }
}
