.app-input {
  outline: none;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 4px 8px;
  border-radius: 6px;
  overflow: hidden;

  &:focus,
  &:hover {
    background-color: #f8f8f8;
  }

  &.large {
    font-size: 18px;
  }

  &.white-hover:hover,
  &.white-hover:focus {
    background-color: #fff;
  }
}
