
$content-width: 700px;

.board-setting-page {
  width: 80%;
  min-width: 600px;
  margin: 0 auto;
  display: flex;

  .board-setting-side-bar {
    width: 30%;
  }

  .board-setting-panel {
    width: 70%;

  }
}
