@import 'style/variable';

.taskboard-boards {
  margin-top: 1rem;

  .board-group {
    overflow: hidden;
    background-color: $white;
    padding: 20px 20px 30px;
    border-radius: $radius-middle;
  }

  .board-group--name {
    font-size: $font-size-x-large;
    font-weight: bolder;
    color: $black-light;
    margin-bottom: 5px;
  }

  .board-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
