@import 'style/variable';

$card-margin: 8px;
$card-padding: 12px;

.task-card {
  flex: 1 0 auto;
  background: white;
  white-space: normal;
  word-break: break-all;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $card-margin / 2 0;
  padding: $card-padding;
  box-shadow: 0 2px 4px $gray-light-litte-depth;
  cursor: pointer;

  .task-card--title {
    padding: 0 12px;
    width: 205px;
  }

  .useravatar {
    width: 39px;
  }

  &:first-child {
    margin-top: 0px;
  }
}

.task-card:-khtml-drag {}
