@import 'style/variable';

$content-width: 409px;
$content-top: 150px;

.modal__content.taskcard-modal {
  width: $content-width;
  left: 50%;
  top: $content-top;
  margin-left: -$content-width / 2;
  padding: 8px 0 0;

  .hr {
    left: 0;
    width: 100%;
    margin: 10px 0;
  }
}

.taskcard-modal--top-bar, .taskcard-modal--title,
.taskcard-modal--content, .taskcard-modal--people,
.taskcard-modal--comments {
  margin: 0 13px;
}

.taskcard-modal--top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .close-icon {
    fill: $gray;
  }

  .top-bar-list-chooser {
    display: flex;
    width: 80%;

    .select {
      margin-left: 10px;
      width: 100%;

      ul {
        z-index: 100;
      }
    }
  }
}

.taskcard-modal--title {
  display: flex;
  align-items: flex-start;
  margin-top: 6px;

  .title--input {
    border: none;
    margin-left: 12px;
    width: 100%;
    resize: none;
    background-color: $gray-light-depth;
    border-radius: $radius-middle;
  }
}

.taskcard-modal--content {
  textarea {
    width: 100%;
    border: 1px solid $border-light;
    border-radius: $radius-middle;
    box-shadow: 0 1px 3px $gray-light-litte-depth inset;
    font-size: $font-size-x-middle;
    padding: 8px 11px;
    box-sizing: border-box;
    resize: none;
  }
}

.taskcard-modal--people {
  border: 1px solid $border-light;
  vertical-align: middle;
  padding: 6px 6px;
  display: flex;

  .useravatar {
    display: block;
    width: 30px;
    height: 30px;
  }
}

.taskcard-modal--comments {
  margin-top: 14px;
  border: 1px solid $border-light;

  .useravatar {
    width: 20px;
    height: 20px;
  }

  .comment-item {
    display: flex;
  }
}


.taskcard-modal--comment-input-container {
  height: auto;
}

.taskcard-modal--comment-input {
  margin-top: 14px;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  background-color: $gray-light-litte-depth;

  textarea {
    width: 100%;
    margin: 4px 10px;
    padding: 3px 8px;
    resize: none;
    border-radius: $radius-middle;
    border-color: $gray;
  }
}
