@import 'style/variable';

$content-width: 409px;
$content-top: 150px;

.modal__content.taskcard-modal {
  width: $content-width;
  left: 50%;
  top: $content-top;
  margin-left: -$content-width / 2;
  padding: 8px 18px 0;

  .hr-container {
    height: 20px;
    .hr {
      position: absolute;
      left: 0;
      width: 100%;
      margin: 10px 0;
    }
  }
}

.taskcard-modal--top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskcard-modal--title {
  display: flex;
  align-items: center;

  .title--input {
    border: none;
    border-bottom: 1px solid $gray;
    margin-left: 12px;
    width: 100%;
  }
}

.taskcard-modal--content {
  textarea {
    width: 100%;
    border: 1px solid $border-light;
    border-radius: $radius-middle;
    box-shadow: 0 1px 3px $gray-light-litte-depth inset;
    font-size: $font-size-x-middle;
    padding: 8px 11px;
    box-sizing: border-box;
    resize: vertical;
  }
}

.taskcard-modal--people {
  border: 1px solid $border-light;
  vertical-align: middle;
  padding: 13px 9px;
  display: flex;

  .useravatar {
    display: block;
  }
}

$operation-height: 50px;
.taskcard-modal--operation-container {
  height: $operation-height
}

.taskcard-modal--operation {
  position: absolute;
  width: 100%;
  height: $operation-height;
  left: 0;
  display: flex;
  justify-content: space-between;
}
