@import './task-list';
@import 'style/variable';
@import './_task-variable';

.tasklist-creater {
  border-radius: $list-radius;
  padding: 8px;
  display: inline-flex;
  vertical-align: top;
  width: $list-width;
  margin: $list-vertical-margin $list-horiz-margin;
  justify-content: space-between;
  background-color: $gray-super-light;
  align-items: center;

  
  input {
    height: 22px;
    border: none;
    background-color: #FFF;
    border-radius: 3px;
    padding: 0 3px;
    display: block;
    margin-bottom: 8px;
  }

}

.task-list--toggle {
  display: flex;
  align-items: center;
  color: $gray-deep;
  font-weight: bolder;

  .add-icon {
    fill: $gray-deep;
    margin-right: 8px;
    vertical-align: middle;
  }
}
