@import 'style/variable';

$top-bar-height: 45px;
$list-width: 300px;
$list-radius: 3px;
$list-horiz-margin: 24px;
$list-vertical-margin: 15px;

.task-list {
  border-radius: $list-radius;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: $list-width;
  height: calc(100% - #{2 * $list-vertical-margin});
  z-index: 1;
  vertical-align: middle;
  background-color: $gray-supper-light;
  margin: $list-vertical-margin $list-horiz-margin;

  &.has-draging-card {
    .task-card, .taskcard-creater--toggle {
      pointer-events: none;
    }
  }
}

.task-list--body {
  overflow-y: auto;
  position: relative;
  display: inline-flex;
  flex-direction: column;
}

.task-list--top-bar {
  flex: 1 0 auto;
  height: $top-bar-height;
  max-height: $top-bar-height;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  .more-icon {
    verticalAlign: middle;
    width: $icon-small;
    height: $icon-small;
    cursor: pointer;
    borderRadius: 50%;
    backgroundColor: white;
  }
}
