@import 'style/variable';

.taskboard-card {
  flex: 1 0 auto;
  border-radius: 3px;
  margin: 8px 20px;
  width: 263px;
  max-width: 263px;
  height: 107px;
  cursor: pointer;
  transition: box-shadow 218ms ease-in-out,transform 218ms ease-in-out,-webkit-transform 218ms ease-in-out;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .0470588);
  background-size: cover;
  
  &:hover {
    transform: translate3d(0, -5px, 0);
    boxShadow: 0 7px 21px rgba(0, 0, 0, .15);
  }
}
