@import 'style/variable';
@import 'style/mixin';

.taskboard-creater {
  cursor: pointer;
  margin-top: 15px;
  border-radius: $radius-middle;
  padding: 3px 10px 5px;

  & > * {
    vertical-align: middle;
  }

  .icon-add {
    margin-right: 10px;
  }

  .taskboard-creater-title {
    font-weight: bolder;
    color: $gray-super-deep;
    font-size: $font-size-large;
  }

  &:hover {
    background-color: $primary-bg-secondary;
    box-shadow: 0 0 5px $primary-bg-secondary;
  }
}

.taskboard-creater-modal {
  width: 350px;
  margin-top: 70px;
  border: 1px solid #e8e8e8;
  box-shadow: 2px 2px 5px #e8e8e8;

  .close-button {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0.3rem;
    right: 0.5rem;
    border-radius: 50%;
    border: none;
    background-color: transparent;
  }

  .clear-icon {
    vertical-align: middle;
    fill: #999;
    width: 1rem;
    height: 1rem;
    transition: all 80ms ease;
  }

  .error-msg {
    margin-top: -10px;
    margin-bottom: 10px;
  }
}

.taskboard-creater--name {
  font-weight: bolder;
  font-size: $font-size-x-large;
  color: $gray-super-deep;
  border-bottom: 1px solid $gray-light-litte-depth;
  padding: 0 0 10px;
  margin: -8px 0 0;
}

.taskboard-creater--quota {
  font-size: 14px;
  margin: 8px 0 40px;
  color: $gray-super-deep;
}

.taskboard-creater--illustration {
  width: 108px;
  display: block;
  margin: 0 auto 30px;
}

.taskboard-creater--name-input {
  width: 100%;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  border-radius: $radius-small;
  margin-bottom: 20px;

  &::placeholder {
    color: $gray-light-deep;
  }
}

.taskboard-creater--create-button {
  width: 100%;
  font-weight: normal;
  letter-spacing: 0.5px;
}
