@import './task-list';
@import 'style/variable';

.tasklist-creater {
  border-radius: $list-radius;
  padding: 0.3rem 0.4rem;
  display: inline-flex;
  vertical-align: top;
  width: $list-width;
  margin: $list-vertical-margin $list-horiz-margin;
  justify-content: space-between;
  background-color: $gray-super-light;
}

.task-list--toggle {
  display: flex;
  align-items: center;
  
  .add-icon {
    background-color: $black;
    fill: $white;
    border-radius: 50%;
    height: $icon-small;
    width: $icon-small;
    margin-right: 7px;
  }
}
