.IssueDetailBread {
  display: flex;
  position: relative;
  z-index: 100;
  align-items: center;

  .IssueType {
    margin-right: 8px;
  }
}

.IssueDetailBread--project-name {
  font-weight: bold;
}

.IssueDetailBread--right-icon {
  margin-left: 6px;
  color: #989898;
}
