@import "../../../style/variable";

.ProjectPage {
  height: calc(100% - #{$app-nav-height});

  &--main {
    display: flex;
    height: 100%;
  }

  &--right-content {
    background-color: #e8e8e8;
  }
}
