@import "../../../style/variable";

.ProjectPage {
  height: calc(100% - #{$app-nav-height});
  overflow: hidden;

  &--main {
    display: flex;
    height: 100%;
    width: 100%;
  }

  &--right-content {
    width: 100%;
    overflow: scroll;
    background-color: #ff9595;
  }
}
