.SideItem {
  font-size: 16px;
  color: #42526eb9;
  cursor: pointer;
  padding: 9px 10px 6px 8px;

  &--icon {
    width: 28px !important;
    margin-right: 2px;
    margin-left: -6px;
  }

  span {
    padding: 9px 10px 6px 0;
    font-size: 15px;
  }
}

.SideGroup {
  margin-bottom: 12px;
}

.SideItemLink {
  font-size: 16px;
  color: #42526e;

  &--icon {
    width: 28px !important;
    margin-right: 2px;
    margin-left: -6px;
  }

  a {
    padding: 9px 10px 6px 8px;
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    color: #42526e;
    font-size: 15px;
    text-decoration: none;

    &:hover {
      background-color: #f4f5f7;
    }
  }

  a.active {
    font-weight: bolder;
    text-decoration: none;
    background-color: white;
  }
}
