.app-checkbox {
  display: inline-block;
}

.app-rounded-checkbox {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50px;
}

.app-rounded-checkbox .label {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 3px;
  left: 3px;
  cursor: pointer;
  background: #e8e8e8;
  border-radius: 3px;
}

.app-rounded-checkbox .label::after {
  content: "";
  width: 13px;
  height: 8px;
  position: absolute;
  top: 6px;
  left: 5px;
  border: 3.5px solid #eb6668;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}

.app-rounded-checkbox .label:after:hover::after {
  opacity: 0.3;
}

.app-rounded-checkbox input[type="checkbox"] {
  visibility: hidden;
}

.app-rounded-checkbox input[type="checkbox"]:checked + .label::after {
  opacity: 1;
}
