.todo-boxs {
  width: 70%;
  margin: 0 auto;

  .todo-box-creater-container {
    margin-top: 18px;
  }

  .ant-menu {
    border-right: none;
  }

  .todo-box-group-list {
    
    a {
      &:hover {
        color: #999;
        opacity: 1;
        color: black;

        
      }
    }

    .todo-box-item {
      border-radius: 6px;
      &:hover, &.ant-menu-item-selected {
        background-color: #f5f5f5;

        .todo-box-item-icon {
          color: #e9676b !important;
        }
      }
    }

    .todo-box-item-icon-wrapper {
      display: inline-block;
      margin-right: 10px;
      width: 25px;
      text-align: center;
    }
  }
}
