.todo-boxs {
  .todo-box-creater-container {
    margin-top: 18px;
  }

  .ant-menu {
    border-right: none;
  }

  .todo-box-group-list {
    a {
      &:hover {
        color: #999;
      }
    }

    .todo-box-item-icon {
      width: 15px;
      margin-right: 10px;      
    }
  }
}
