.create-task-modal-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  .create-task-modal-right {
    padding-top: 6px;
    padding-left: 28px;
    width: 100%;
  }
}
