
.ProjectSideBar {
  background-color: #fff;
  height: 100%;
  width: 180px;
  padding-left: 16px;
  flex-shrink: 0;

  .SideItemLink--icon {
    color: #777;
  }

  a {
    color: #777;
    font-weight: 400;
  }
}
