.ProjectSideBar {
  background-color: #fff;
  height: 100%;
  width: 240px;
  padding: 16px 16px;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0 0 1px #fff;

  .SideItemLink--icon {
    color: #999;
  }

  a {
    color: #555;
    font-weight: 400;
  }
}
