@import "../../style/app_variable";

.app-input {
  outline: none;
  border: 0;
  width: 100%;
  padding: 4px 8px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  height: 30px;

  &:focus,
  &:hover {
    background-color: #f8f8f8;
  }

  &:focus {
    border: 2px solid $color-primary !important;
  }

  &.large {
    font-size: 18px;
  }

  &.border-less {
    border: 2px solid transparent;
  }

  &.white-hover:hover,
  &.white-hover:focus {
    background-color: #fff;
  }
}
